*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-family: 'Permanent Marker', cursive;
}

header{
    padding: 20px;
}

main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}