html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

#hero {
  background-color: #ddd78d;
}

#about {
  background-color: #b6dcfe;
}

#projet {
  background-color: #dec5e3;
}

#contact {
  background-color: #b2c9ab;
}
