nav{
    position: fixed;
    bottom: 30%;
    background-color: black;
    padding: 10px 5px;
    border-radius: 50px;
}

nav>a{
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    color: white;
}

nav>a:nth-child(1){
    background-color: white;
    color: black;
}