@media only screen and (max-width: 1296px) {
    body{
        background-color: rgb(202, 62, 62);
    }
}

@media only screen and (max-width: 990px) {
    body{
        background-color: rgb(66, 66, 188);
    }
}

@media only screen and (max-width: 672px) {
    body{
        background-color: rgb(218, 218, 43);
    }
}